[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kali/Desktop/Parallels Shared Folders]
row=4
col=0

[2021-10-06-15-00-03-00]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kali]
row=2
col=0

